# HTID:23422420: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW

php_value display_errors 1

# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:23422420:

RewriteEngine On

# Allow index.php to execute normally without redirection
RewriteRule ^index\.php$ - [L]

# If you want to serve the default page when accessing the domain root
RewriteRule ^$ index.php [L]

# Remove .php extension from URLs in the root directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)$ $1.php [L]

# Remove .php extension from URLs in the admin directory
RewriteCond %{REQUEST_URI} ^/admin/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/([^/]+)$ admin/$1.php [L]

# Remove .php extension from URLs in the staff directory
RewriteCond %{REQUEST_URI} ^/staff/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^staff/([^/]+)$ staff/$1.php [L]

# Remove .php extension from URLs in the customer directory
RewriteCond %{REQUEST_URI} ^/customer/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^customer/([^/]+)$ customer/$1.php [L]